doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="css/main.css")
    title Document
  body
    h1 hello world
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque reiciendis quia, veniam ut, deleniti ducimus dolorum illum enim alias consectetur tempore suscipit? Nisi sapiente earum perferendis. Voluptatibus laudantium delectus assumenda?
